.side-bar {

  &__user-name {
    height: 100px;
    width: 300px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }

    &__content {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
      
      &__content-message-left {
        color: #ffffff;
        font-size: 16px;
      }

      &__content-message-right {
        width: 60px;
      }

        &__icon-list {
          display: flex;
          justify-content: flex-end;
        }

         &__icon {
          margin-left: 5px;
         }

           &__btn--icon {
             color: #ffffff;
           }

  &__group-list {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;

    .Group {
      a {
        text-decoration: none;
      }
    }
  }

    &__group-name {
      font-size: 15px;
      color: #ffffff ;
      padding: 20px 20px 5px 20px;
      text-decoration: none;
    }

    &__new-message {
      font-size: 11px;
      color: #ffffff;
      padding: 0px 20px 40px 20px;
      text-decoration: none;
    }
}